<div class="pull-right">

    <div>
        <div class="row">

            <div class="col-md-12">


                    <div>
                        © 2017 <a href="/" target="_blank">

                        <strong style="font-family: BIG JOHN; font-size: 20px">Terra </strong> <i style="font-family: Slim Joe">Salvare</i>

                   </a>
                    </div>

            </div>
        </div>
    </div>
    <a href="javascript: void(0);" class="cat__core__scroll-top" onclick="$('body, html').animate({'scrollTop': 0}, 500);"><i class="icmn-arrow-up"></i></a>


</div>
