<div class="cat__top-bar">
    <!-- left aligned items -->
    <div class="cat__top-bar__left">
        <div class="cat__top-bar__logo">
            <a href="dashboards-alpha.html">
                <strong style="font-family: BIG JOHN; font-size: 20px">Terra </strong> <i style="font-family: Slim Joe">Salvare</i>
            </a>
        </div>
        <div>
            <a routerLink="association">Associations</a>
        </div>
        <div style="width:50px"></div>
        <div>
            <a routerLink="produit">Produits</a>
        </div>

        <div style="width:1400px"></div>
        <div class="cat__top-bar__right">
            <div class="dropdown"> <i class="fa fa-bars"><!-- --></i>
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <a class="dropdown-header" routerLink="profile"><i class="dropdown-icon icmn-user"></i> login</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-header" routerLink="dashboards"><i class="dropdown-icon icmn-home"></i>Acceuil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-header" routerLink="login"><i class="dropdown-icon icmn-home"></i>Logout</a>
                    <!--<a class="dropdown-header" href="javascript:void(0)"><i class="dropdown-icon icmn-exit"></i> Logout</a>-->
                </ul>
            </div>
        </div>

    </div>
</div>
